<h1>Log in</h1>

<form action="<%= session_url %>" method="post">
  <label for="user_username">Username</label>
  <input
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    id="user_username">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

  <input type="submit">
</form>

<%= link_to "Forgot Password?", new_password_reset_url %>
<%= link_to "Sign up for a new account", new_user_url %>
