<div class="new-comment-container hide">
  <form action="<%= post_comments_url(post.id) %>" method="POST" class="new-comment-form" post-id="<%= post.id %>">
    <textarea name="comment[body]" placeholder="Enter comment here." class="comment-text-box"></textarea><br>
    <input type="submit" class="comment-button-submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>