<div class="new-comment-container">
  <form action="<%= post_comments_url(post.id) %>" method="POST" class="new-comment-form" post-id="<%= post.id %>">
    <textarea name="comment[body]"></textarea><br>
    <input type="submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>