<html>

<head>
  <title>Sign Up | Runblr </title>
  <link rel="stylesheet" type="text/css" href="aa.css">
</head>

<body id="account_logged_out_dashboard">

  <h1>Log in</h1>

  <div class="fullscreen_post_bg">
    <img class="fullscreen_post_image" src="http://www.hdwallpapersinn.com/wp-content/uploads/2013/02/Naruto-8.jpg">
  </div>
  <div class="fullscreen_post_footer">
    <div class="fullscreen_post_posted_by show">
    </div>
  </div>

  <div class="dash_b_form_container">
    <div class="dash_b_form_header">
      <h1 class="logo">
        Runblr.
      </h1>
      <h2 class="subheading">
        "Follow the runners you've been hearing about."
        <br>
        "Share the running that you love."
      </h2>
    </div>
    <div class="dash_b_form">
      <div class="signup_forms_panel">
      </div>
      <div class="signup_forms_error">
      </div>
      <div class="signup_forms_button">
      </div>
      <div class="tumblr_login_link">
      </div>
    </div>
  </div>




<%= link_to "Log in to your dashboard", new_session_url %>