<ul>
   <ul>
     <%= render "posts/likes_template", post: post %>
   </ul>
   <ul>

       <li>
         <div class="post-comment-title">Post Comment</div>
         <%= render "comments/new_template", post: post %>
       </li>

     <div>
       <ul>
         <%= render "comments/comments_template", post: post %>
       </ul>
     </div>
   </ul>
</ul>