// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, h1, h2, div, img, label, input, form, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #fff;
}

#dashboard_index {
  
}

#container {
  
}

#header_container {
  
}

#header {
  
}

.dashboard-logo {
  
}

.logo_anchor {
  
}

#tabs_outter_container {
  
}

#user_tools {
  
}

.tab_home {
  
}

.tab_settings {
  
}

.tab_log_out {
  
}

.tab_search {
  
}

#content {
  
}

#right_column {
  
}

#blog_link {
  
}

.blog_menu {
  
}

.posts_control {
  
}

.control_item {
  
}

.control_followers {
  
}

.control_following {
  
}

.control_posts {
  
}

#left_column {
  
}

#posts {
  
}

.post_container {
  
}

.new_post_buttons_container {
  
}

.post {
  
}

.post_avatar {
  
}

.post_avatar_link {
  
}

.post_wrapper {
  
}

.post_header {
  
}

.post_content {
  
}

.post_footer {
  
}