// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// COMMENT FORMAT

.post-comment-title {
  font-weight: bold;
  cursor: pointer;
}

.post-comment-title:hover {
  text-decoration: underline;
  
}

.post-comment-title:active {
  color: blue;
  
}

.new-comment-container.hide {
  display: none;
}

.comment-text-box {
  width: 300px;
}



.comment-container {
  width: 300px;
  padding: 20px 20px;
  background: white;
}

.comment-body {
  padding: 15px 100px;
}

.comment-left {
  float: left;
}

// EDIT SETTINGS


.upload-profile-picture {
  padding-bottom: 10px;
}

.submit-profile-picture {

}

.edit-title {
  padding: 10px 10px;
}

.edit-user-info-form{
  width: 245px;
  padding: 20px 30px 30px 20px;
}

.shift-edit {
  position: relative;
  right: 7px;
}

// CLICK USER LINKS

.post-comment-title {
  margin-bottom: 5px;
}

.username-link {
  color: #000099;
  font-weight: bold;
}

.username-link:active {
  color: #006699;
}

.follow-button-container{
  position: absolute;
  display: none;
  z-index: 2;
  top: -19px;
  left: 35px;
}

.username-link:hover {

};

.username-link-container {
  display: inline-block;
  position: relative;
};

.post-count {
  padding-bottom: 20px;
}

// POST CONTENT

.post_title {
  padding-bottom: 5px;
  color: #000099;
}

.post_title:active {
  color: #006699;
}

.post_body {

}

// POST FOOTER

// COMMENT SUBMIT BUTTON

.comment-button-submit {
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
  background: #3333FF;
  color: #D8D8D8;
  border-radius: 5px;
}

.comment-button-submit:active {
  background: #3300FF;
  color: #F8F8F8;
}

// POST SUBMIT BUTTON

.submit {
}

.submit-post > input {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  background: #3333FF;
  color: #D8D8D8;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 5px;
}


.submit-post > input:active {
  top: 3px;
  box-shadow: none;
  background: #3300FF;
  color: #F8F8F8;
}

// LIKE BUTTON

.like-button-submit{
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
  background: #3333FF;
  color: #D8D8D8;
  border-radius: 5px;
}

.like-button-submit:active {
  background: #3300FF;
  color: #F8F8F8;
}

// FOLLOW BUTTON

.follow-button-submit{
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
  background: #A80000;
  color: #D8D8D8;
  border-radius: 5px;
}


// COMMENT LIKE BUTTONS

span.comment-can-like form.comment-unlike, form.comment-like {
  display: none;
}

span.comment-can-like form.comment-like, form.comment-unlike {
  display: block;
}

// COMMENT INDENT

.sub-comment {
 padding-left: 15px;
 border-left: 2px solid gray;
}

// LIKE BUTTONS

span.can-like form.unlike, form.like {
  display: none;
}

span.can-like form.like, form.unlike {
  display: block;
}

// FOLLOW BUTTONS

span.can-follow form.unfollow, form.follow {
  display: none;
}

span.can-follow form.follow, form.unfollow {
  display: block;
}



body * {

}

.dashboard_index {
  background: #2f4b66;
  color: #fff;

}

a, a:visited, a:active {
  color: inherit;
}

.container {
  width: 900px;
  margin: auto;
  padding: 0 30px;

}

#header_container {
  width: 900px!important;
  -webkit-font-smoothing: antialiased;
  height: 71px;
  margin: auto;
  position: relative;
}

#header {
  width: 900px!important;
  -webkit-font-smoothing: antialiased;
  height: 71px;
  margin: auto;
  position: relative;

}

#header > h1 {
  font-size: 50px;
  font-family: "Bookman Old Style";
  color: #fff;
  font-weight: bold;
}

.dashboard-logo {

  float: left;
  color: #3f3f3f;
  padding-top: 10px;
  padding-left: 15px;


}

.logo_anchor > a {
  margin: auto;
  font-weight: bold;

}


#tabs_outter_container {
  margin: auto;
  float: right;
  height: 100%;
  padding-top: 10px;
}

#user_tools {
  float: right;
  margin: auto;
  height: 100%;
}

.tab {
  padding: 4px 9px;
  font-size: 32px;
  font-weight: bold;
  float: left;
}

.tab > a {
  color: white;
}

.tab_home {

}

.tab_settings {

}

.tab_log_out {

}

.tab_search {

}

#content {
  min-height: 425px;
  padding: 20px;
  background: #2c4762;
  border-radius: 15px;
  border: 2px solid gray;
}

#right_column {
  float: right;
}

#blog-holder {
  width: 160px;
  height: 50px;
  border-bottom: 2px solid rgba(255,255,255,0.13);
  padding: 30px 13px 0px 40px;

}

#blog-holder > a {
  color: white;
}

#blog_link {
  font-size: 20px;
  font-weight: bold;



}

.blog_menu {

}

.control_item {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.right_link {
  line-height: 36px;
  color: rgba(255,255,255,.50);
  padding: 0 5px;
  float:left;
}

.right_link_amount{
  line-height: 36px;
  padding: 0 5px;
  float: right;
}

#left_column {
  float: left;
  width: 625px;
}

#posts {
  margin: 0 0 0 25px;
}

.post_container {
  height: auto;
  float: right;
  width: 100%;
  margin: 0 0 20px 0;


}

.new_post_buttons_container {
  height: 77px;
  position: relative;
}

.new_post_buttons_container {

}



.new_post_form {
  width: 459px;
  padding: 20px 20px;
  position:absolute;
  top: 100;
  left: 100;
  background: gray;
  border: 1px solid black;
  border-radius: 5px;
  display: white;
  opacity: 0.9;
  z-index: 1;
}

.run-post.hide {
  display: none;
}

.photo-post.hide {
  display: none;
}

.link-post.hide {
  display: none;
}

.quote-post.hide {
  display: none;
}

.video-post.hide {
  display: none;
}

.new_post_buttons> a {
  color: black;
}

.new_post_buttons{
  float: right;
  width: 500px;
  height: 77px;

}

#post_buttons {
  font-size: 0pt;
  width: 100%;
  height: auto;
  display: block;
  background-color: #fff;

  color: black;
  border-radius: 6px;
}

.new_post_label {
  text-align: center;
  font-size: 38pt;
  width: 99px;
  height: 75px;
  display: inline-block;
  border-left: 1px solid black;
  padding-top: 20px;
}

.new_post_label:active {
  background: gray;
};

.post {

}

.post_avatar {
  float: left;
  border: 1px solid black;
  width: 75px;
  height: 75px;
}

.post_avatar_link {

}

.post_wrapper {
  float: right;
  width: 500px;
  background: #2c4762;

}

.post_header {
  padding: 10px 20px;
  font-size: 13px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #E8E8E8;
  color: black;
}

.post_content {
  padding: 20px 20px;
  border-left: 20px solid #E8E8E8;
  border-right: 20px solid #E8E8E8;
  color: black;
  background: white;
}



.post_footer {
  padding: 10px 20px;
  font-size: 13px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #E8E8E8;
  color: black;
}
