// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, h1, h2, div, img, label, input, form, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: white;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #fff;
}

.fullscreen_post_bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: -1;
}

.fullscreen_post_image {
  display: block;
  width: 100%;
}

.fullscreen_post_footer{

}

.fullscreen_post_posted_by {

}

.show {

}



.dash_b_form_container {

    width: 245px;
    padding: 20px 30px 30px 20px;
    margin-top: -210px;
    margin-left: -145px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;

}

.dash_b_form_header {

}

.logo {

  font-size: 60px;
  font-family: "Bookman Old Style";
  color: #fff;
  font-weight: bold;
}

.subheading {
  position: relative;
  font-size: 20px;
  font-family: "Helvetica Neue";
  width: 500px;
  color: #fff;
  right: 50%;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  opacity: .88;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  padding-bottom: 20px;

}

.dash_b_form{

}

.signup_forms_panel {
  display: block;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 8px;
  background-color: #fff;

}

.entry {
  padding: 6px 10px 5px 10px;
  width: 218px;
}

.signup_forms_error {
  padding: 8px 8px;
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  background-color: #111;
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 6px;
  margin: 15px 0 0 0;
  opacity: 0.9;
}

.signup_forms_button {
  display: block;
  margin: auto;


}

.sign-up-button {
  width: 100%;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  cursor: pointer;
  font-size: 16px;
  background-color: #6495ed;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  padding: 2px 6px 3px;
  margin-left: -2px;
  margin-top: 15px;
  border: 2px outset buttonface;
  border-radius: 10px;
}

.sign-up-button:hover {
  background-color: #3366ff;
}

.form-row {
  border-top: 1px solid rgba(0,0,0,0.12);
}

input {
  outline: none;
  margin: 4px 4px 4px 4px;
}

.tumblr_login_link > a {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  font-size: 12px;
  text-align: center;
}

.tumblr_login_link > a:hover {
 color: #c0c0c0;
}